@media only screen and (min-width: 768px) {
  /* 
  	First we map commonly used colors to var with memorable names for 
  	ease of use. If desired, these can then be mapped to more systemic
  	names like "$primary_foreground_color" or whatever
  */
  /* line 2, ../../sass/pages/default/_768.scss */
  html {
    background: green;
  }

  /* line 6, ../../sass/pages/default/_768.scss */
  figure {
    width: 48%;
    margin: 0 2% 0 0;
    float: left;
  }

  /* line 12, ../../sass/pages/default/_768.scss */
  figure ~ div {
    width: 48%;
    margin: 0 2% 0 0;
    float: left;
  }
}
