@media only screen and (min-width: 960px) {
  /* 
  	First we map commonly used colors to var with memorable names for 
  	ease of use. If desired, these can then be mapped to more systemic
  	names like "$primary_foreground_color" or whatever
  */
  /* line 2, ../../sass/pages/default/_960.scss */
  html {
    background: grey;
  }

  /* line 6, ../../sass/pages/default/_960.scss */
  main {
    max-width: 960px;
    position: relative;
    margin: auto;
  }
}
