/* 
	First we map commonly used colors to var with memorable names for 
	ease of use. If desired, these can then be mapped to more systemic
	names like "$primary_foreground_color" or whatever
*/

$charcoal:#222;
$dark_grey:#777;
$light_grey:#999;

$orange:#FFA514;