@mixin typography() {

	$base_font_size:90%;
	$touch_font_size:100%;

	$base_color:$charcoal;
	$base_font_family: Helvetica, arial, sans-serif;
	$base_line_height:1.6em;

	%typography_base {
		font-size:$base_font_size;

		// if there is modernizr touch detection, increase the base font size for fat fingers;
		&.touch {
			font-size:$touch_font_size;
		}

		font-family: $base_font_family;
		color:$base_color;
		
		* {
			line-height:$base_line_height;
		}

		strong {
			font-weight:bold;
		}

		em {
			font-style: italic;
		}

		p {
			margin-bottom:1em;
		}
	}

	%typography_headings {
		h1,h2,h3 {
			margin-bottom: 0.5em;
			font-weight:bold;
			line-height:1.2em;
			text-align: center;
		}

		h1 {
			font-size:3rem;
		}

		h2 {
			font-size:2rem;
		}

		h3 {
			font-size: 1.5rem;
		}
	}

	%typography_links {
		a {
			@include transition(background, 0.5s);

			display:inline-block;
			color:$orange;
			background:none;
			padding:0 0.2em;


			&:hover,
			&:focus {
				background:$light_grey;
				text-decoration: none;

			}

			&:active {
				text-decoration: none;
			}
		}
	}
}